  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
   body {
  font-family: 'Segoe UI', sans-serif;
}


html, body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
   /* The scroll button */
    #scrollTopBtn {
      font-family: Arial, sans-serif;
      position: fixed;
      z-index: 2;
      bottom: 55px;
      right: 30px;
      display: none; /* Hidden by default */
      background-color: #007BFF;
      color: white;
      border: none;
      padding: 12px 18px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
      transition: opacity 0.3s ease;
    }

    #scrollTopBtn:hover {
      background-color: #0056b3;
    }

    /* Footer and all under must be .content-wrapper */
footer {
  margin-top: auto;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  max-height: 70px;
  display: flex;
    justify-content: center;
    align-items: center;
  
}
   .content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
